/* styles.css */
.sticky-card {
  position: -webkit-sticky;
  position: sticky;
  top: 50px; /* Adjust the top value as needed */
  background-color: white; /* Specify a background color if necessary */
  z-index: 1; /* Ensure the cards stay above other elements */
}
